
.main-bg{
    
    background-image: url(../img/main.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white);
}

.white-bg{
    
    background: white;
    color: black;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 65px;
    
}

.full-width{
    width: 100%;
    flex: 1 1 100%;

}