*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.5;
}