
:root{
    --primary-color: #03031D;
    --white: white;
    --gap:3rem;
    --light-grey: #eeee;
}

.intro-content{
    position: relative;
    top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2{
    font-size: 5.9rem;
    margin-bottom: 5rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top-3{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;

}

.top-3 h2{
    font-size: 5.9rem;
    margin-bottom: 5rem;
}

.work{
    padding-top: 20rem;
    height: 90vh;
    display: grid;
    grid-template-areas: 
    'top top top'
    'first great best'
    'fist great best';
    gap: 6rem;
    counter-reset: grid-counter;

}

 

.top-content{
    grid-area: top;
 
}

.top-content h2{
    font-size: 5.9rem;
    padding-bottom: ;

}

.top-content p{
    padding-bottom: -10rem;
}

.fist{
    grid-area: first;
}

.great{
    grid-area: first;
}
.best{
    grid-area: first;
}


