
:root{
    --primary-color: #03031D;
    --white: white;
    --gap:3rem;
    --light-grey: #eeee;
}

/* SEÇÃO INTRO */
.intro-content{
    position: relative;
    top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2{
    font-size: 5.9rem;
    margin-bottom: 5rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

/* SEÇÃO TOP */

.top-3{
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;

}

.top-3 h2{
    font-size: 5.9rem;
    margin-bottom: 5rem;
}

/* SEÇÃO WORK */
.work{
    padding-top: 15rem;
    
    
}
.work h2{
    font-size: 5.9rem;
          
}

.grid-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
    padding-top: 5rem;
}

/* SEÇÃO GALLERY */
.gallery h2{
    font-size: 5.9rem;
    padding-top: 5rem;
}

.gallery-img {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.gallery-img img{
    max-width: 100%;
    height: auto;
    padding-top: 5rem;
    
}

.img1{
    transition: all 0.5s;
    cursor: pointer;
}

.img1:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));   
}

.img2{
    transition: all 0.5s;
    cursor: pointer;
}

.img2:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));   
}

.img3{
    transition: all 0.5s;
    cursor: pointer;
}

.img3:hover{
   -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));   
}

/* SEÇÃO FORMULÁRIO */

.contact-form{
    grid-column: span 2;
   
    
}

.form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grup{
    min-width: 40rem;
    flex: 1 1 auto;
}

.form-grup label{
    display: block;
}

.form-grup input,
.form-grup textarea{
    border: none;
    background: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.form-grup button{
    border: 0.2rem solid var(--white);
    background: none;
    color: white;
    padding: 2rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-grup button:hover{
    background: var(--white);
    color: var(--primary-color);
}

.form-grup::placeholder{
    color: rgba(0, 0, 0, 0.281);
}

.footer{
    text-align: center;
}

.footer a{
    color: #03031D;
}

@media (max-width: 800px){
    .intro-content, .grid-top{
        grid-template-columns: 1fr;
        
    }
    .top-3, .form-grid{
        
        display: block;
        height: auto;
        width: auto;
    }

    .menu{
        bottom: 0;
        text-align: center;

    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;

    }

    .menu{
        display: none;
    }
    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;

    }
    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--light-grey);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5em;
        


    }




}