@charset "UTF-8";

/* todas as demais midias */

/* Typical Device Breakpoints 
---------------------------------

Pequenas telas: Até 600px
Celular: de 600px até 768px
Tablet: 768px até 922px
Desktops: 922px até 1200px
Grandes Telas: acima de 1200px
*/

@media print { /*Impressão*/
    body{
        background-image: url(../imagens/back-print.jpg); /*Desnecessário*/
    
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: block;}
    img#tv{ display: none;}
    img#pc{ display: none;}

    main::after{
        content: 'Essa impressão é apenas um teste.';
        text-decoration: overline;
        font-size: 20px;
    }
}

    

@media screen and (min-width: 768px) and (max-width: 992px) { /*Tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: block;}
    img#print{ display: none;}
    img#tv{ display: none;}
    img#pc{ display: none;}
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#tv{ display: none;}
    img#pc{ display: block;}
    
}

@media screen and (min-width: 1200px) { /*grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{ display: none;}
    img#tablet{ display: none;}
    img#print{ display: none;}
    img#tv{ display: none;}
    img#pc{ display: block;}
    
}